
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   


    <style type="text/css">
        .fakeimg {
            height: 200px;
            background: #aaa;
        }

        .checked {
            color: orange;
        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
    <title>Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" ><b><<i>E-Commerce</i>></b></a>
            @*<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>Mens</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>Womens</b></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><b>Kids</b></a>
                </li>
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </ul>*@
        </div>
        <div class="pos-f-t">
            <form class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="button" onclick="returntopage()" class="btn btn-outline-dark"><i class="fa fa-plus-square" aria-hidden="true"></i>   Add </button>
                    </div>
                    <div class="input-group-prepend">
                        <button type="button" onclick="logout()" class="btn btn-outline-dark"><i class="fa fa-sign-out" aria-hidden="true"></i>   Logout </button>
                    </div>
                </div>
                
            </form>
        </div>
    </nav>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Brand</th>
                <th>Catagory</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody class="productdata">
        </tbody>
    </table>


   
</body>
</html>
<script type="text/javascript">
    $('#logout').click(function (){
        sessionStorage.removeItem('accessToken');
    window.location.href = 'https://localhost:44392/Home/loginuser';
    });

    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:44392/API/GetProduct',
            type: 'GET',
            success: function (response) {

                var html = '';
                $.each(response, function (key, item) {
                    html += '<tr>';
                    html += '<td><img style=height:100px;width:100px;border-radius:5px src="' + item.ProductImage + '"></td>';
                    html += '<td>' + item.ProductName + '</td>';
                    html += '<td>' + item.CatagoryName + '</td>';
                    html += '<td>' + item.QuantityNumbers + '</td>';
                    html += '<td><i class="fa fa-inr">' + item.ProductPrice + '</i></td>';
                    html += '<td> <a onclick= ProductEdit(' + item.ProductID + ') class="btn btn-info">Edit</a> </td > ';
                    html += '<td> <a onclick = ProductDelete(' + item.ProductID + ') class="btn btn-danger">Delete</a > </td>';
                    html += '</tr>';

                });
                $('.productdata').html(html);
           },
            error: function (error) {
             alert("Something wrond in code!!!");
            }
        });
    });
    function ProductEdit(ProductID) {
        var redirecturl = '@Url.Action("UpdateProduct","Home")?ProductID=' + ProductID;
        window.location.href = redirecturl;
    }
    function ProductDelete(ProductID) {

        swal({
            title: "Warning",
            text: "Are you sure you want to delete this Product?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((empdata) => {
            if (empdata) {
                $.ajax({
                    url: 'https://localhost:44392/API/DeleteProduct?ProductID=' + ProductID,
                    method: 'DELETE',
                    success: function () {
                        location.reload();
                    }
                });
            }
        });
    }
    function returntopage() {
        var redirect = '@Url.Action("PostProduct","Home")';
        window.location.href = redirect;
    }
    function loginpage() {
        var redirect = '@Url.Action("loginuser","Home")';
        window.location.href = redirect;
    }
    function logout() {
        var redirect = '@Url.Action("NewUser","Home")';
        window.location.href = redirect;
    }
</script>