@model ECommerce.ViewModel.AddCartVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style type="text/css">
        .fakeimg {
            height: 200px;
            background: #aaa;
        }

        .checked {
            color: orange;
        }

        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .button {
            float: right;
            width: 20%;
            background-color: #fb641b;
            border: none;
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            height: 50px;
            border-radius: 5px;
        }

        .quantity {
            width: 8%;
            font-size: 14px;
            font-weight: 500;
            vertical-align: middle;
            text-align: center;
            border: 1px solid #c2c2c2;
        }

        .D {
            border-radius: 15px;
            border: 1px solid #c2c2c2;
            width: 6%;
            vertical-align: middle;
        }

        .down {
            border-top: 1px solid #f0f0f0;
            padding: 15px 22px;
            box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
        }
    </style>
    <title>MyProduct</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand"><b><<i>E-Commerce</i>></b></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
        </div>
        <div class="pos-f-t">
            <form class="form-inline">
                <div class="input-group">

                    <div class="input-group-prepend">
                        <button type="button" onclick="login()" class="btn btn-outline-dark"><i class="fa fa-sign-out" aria-hidden="true"></i>   Logout </button>
                    </div>
                </div>

            </form>
        </div>
    </nav>
    <div class="row ml-1" id="mycart">
    </div>
</body>
</html>
<script type="text/javascript">



    $('#logout').click(function () {
        sessionStorage.removeItem('accessToken');
        window.location.href = 'https://localhost:44392/Home/loginuser';
    });
    $(document).ready(function () {
        $.ajax({
            url: 'https://localhost:44392/API/MyProducts',
            type: 'GET',
            success: function (response) {

                var html = '';
                $.each(response, function (key, item) {
                    html += '<div class="col-md-4">';
                    html += '<img style=height:200px;width:190px;border-radius:5px src = ' + item.ProductImage + ' />';
                    html += '<h4>' + item.ProductName + '</h4>';
                    html += '<h5><i class="fa fa-inr">' + item.ProductPrice + '</i></h5>';
                    html += '<div><button class="D"> - </button> <input type="text" value="1" id="quan" class="quantity"/> <button class="D"> + </button ></div > ';
                    html += '<td> <a onclick= removecart(' + item.ProductID + ') class="btn btn-danger mt-2">Remove</a> </td > ';
                    html += '</div>';

                });
                html += '<div class="col-12 down mt-1"><div class="mr-2 mt-2"><button onclick=buynow(' + response[0].ProductID + ') Class = "button"> <i class="fas fa-bolt"></i> <span> Place Order</span></button ></div></div>';

                $('#mycart').html(html);
            },
            error: function (error) {
                alert("404 - API Failed to call!!");
              }
        });
    });
    function removecart(ProductID) {    
        
        swal({
            title: "Warning",
            text: "Are you sure you want to delete this Product?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((empdata) => {
            if (empdata) {
                $.ajax({
                    url: 'https://localhost:44392/API/DeleteCartProduct?ProductID=' + ProductID,
                    method: 'DELETE',
                    success: function () {
                        location.reload();
                    },
                });
            }
        });
    }
    function buynow(ProductID) {
        
        var buy = document.getElementById("quan").value;
        $.ajax({
            url: 'https://localhost:44392/API/BuyProduct',
            type: 'POST',
            data: {
                "ProductID": ProductID,
                "QuantityValue": buy
            },
            success: function (data) {
                swal({
                    title: "Order Booked",
                    icon: "success",
                    button: "Ok!",
                }).then((success) => {
                    if (success) {
                        window.location.replace('https://localhost:44392');
                    }
                })
            },
            
            error: function (error) {
                
                window.location.replace('https://localhost:44392/Home/loginuser');
            }
        });
    }
    function login() {
        var redirect = '@Url.Action("loginuser","Home")';
        window.location.href = redirect;

        function buyproduct() {
        }
    }
</script>